
body{
  margin: 0;
  padding: 0;
}
.solid {
width: 100%;
height: 250px;
background-color: rgb(231, 133, 214);
border-bottom: 5px solid rgb(6, 8, 7);
position: absolute;
top: -250px;
transition: top 1s ease-in-out;
animation: box,box-1 3s ease-in-out infinite;


}
.solid p {
text-align: center;
margin: 100px;
z-index: 30;
}
.solid:hover{
  top: 0;
}
@keyframes box-1 {
  0%{
    background-color: rgb(227, 107, 88);
  }
  50% {
    background-color: gray;
  }
  100% {
    background-color: greenyellow;
  }
}
.keybox {
  width: 250px;
  height: 250px;
  background-color: rgb(105, 71, 255);



  position: relative;
  top: 0;
  left: 0;
  animation: box 4s ease-in-out infinite ;
}
@keyframes box {
  0%{
    top: 0;left: 0;
    background-color: blueviolet;

  }
  25%{
    top: 0;left: 300px;
    background-color: rgb(247, 255, 196);
    border-radius: 50%; 
  }
  50%{
    top: 500px;left: 300px;
    background-color: rgb(242, 15, 181);
    border-radius: 50%;
  }
  75%{
    top: 500px;left: 0;
    background-color: rgb(122, 71, 9);
    border-radius: 50%;
  }
}
.solid p {
font-size: 20px;
font-weight: 700;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black; 
}


@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);}
  50%{transform:translate(-50px, 0);border-color:#EE4D68}
  100%{transform:translate(0);}}

@keyframes span-2 {
  0%{transform:translate(0);}
  50%{transform:translate(50px, 0);border-color:#875678}
  100%{transform:translate(0);}}
@keyframes span-3 {
  0%{transform:translate(0);}
  50%{transform:translate(0, -50px);border-color:#FF9900}
  100%{transform:translate(0);}}
@keyframes span-4 {
  0%{transform:translate(0);}
  50%{transform:translate(0, 50px);border-color:#00E4F6}
  100%{transform:translate(0);}}
.loader {
  width: 50px;
  height: 50px;
  position: relative;
  
  animation: loader 2s infinite ease-in-out;
  }
  

.loader span{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -500px;
  border: 4px solid #0B1B48;
  /* display: flex;
  justify-content: right;
  align-items: center; */

}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}
body {
  margin: 0;
  background: #E6E2D6;
}
.container {
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
  width: 100px;
  height: 100px;
  background: #e2bdbe;
  border-radius: 50%;
  border: 15px solid #21401f;
  box-shadow: inset 0 0 15px rgba(165, 215, 179, 0.5);
  color:black;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  overflow: hidden;
}
@keyframes load {
  100% {
    transform: translateY(-1100px);background: #ee4d4d;

  }
}
.timer {
  animation: load 11s steps(11, end) infinite;
}



